POSTGRES_DB=cactus
POSTGRES_USER=cactus
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

API_PORT=8000
API_HOST=0.0.0.0
ENVIRONMENT=development
SECRET_KEY=change_me_too
ACCESS_TOKEN_EXPIRE_MINUTES=60

FRONTEND_PORT=3000
